body {
    font-family:  'Baloo', cursive;

  }

  .interesse {
    text-align: center;
    height: 80%; /* Define a altura total da página */
    margin: 150px;    /* Remove a margem padrão */
  }
  .form-check{
    background-color: rgb(235, 167, 104);
  }
  h2{
    color:  rgb(235, 167, 104); ;
  }
  .but{
    background-color: rgb(235, 167, 104);  ;
  }

  .logo {
    max-width: 100%;  /* Faz a logo responsiva */
    height: auto;     /* Mantém a proporção da imagem */
  }

  .navbar {
    justify-content: center;
    box-shadow: 0 8px 15px rgb(123, 122, 122);
}

/* Ajustar o alinhamento dos itens e centralizar o conteúdo */
.navbar-collapse {
    display: flex;
    justify-content: center;
}

/* Centralizar o conteúdo da lista de navegação */
.navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Ajuste para os botões de ação ao lado direito */
.navbar .btn {
    margin-left: 5px;
}
.navbar-brand{
    margin-left: 30px;

}
.but{
  background-color: rgb(235, 167, 104);  ;
}

.modal-title{
  color:rgb(235, 167, 104);
}