/* Definindo a fonte para a página */
body {
    font-family: 'Baloo', cursive; /* Usando a fonte Baloo Cursive */
    background-color: #f4f7f9; /* Cor de fundo clara para a página */
    margin: 0;
    padding: 0;
}

/* Estilos para o cabeçalho */
header {
    background-color: #ffb74d; /* Laranja claro */
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 2.5em;
}

/* Estilos para o conteúdo do formulário */
.form-container {
    background-color: white;
    padding: 30px;
    max-width: 800px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #007bff; /* Azul */
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 20px;
}

/* Estilo do formulário */
.pet-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.pet-form label {
    font-size: 1.2em;
    color: #333;
}

.pet-form input,
.pet-form select,
.pet-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1.1em;
}

.pet-form input[type="url"] {
    font-size: 1.1em;
}

.pet-form button {
    background-color: #ffb74d; /* Laranja claro */
    color: white;
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pet-form button:hover {
    background-color: #ff9800; /* Laranja mais forte */
}

/* Estilos para o rodapé */
footer {
    background-color: #007bff; /* Azul */
    color: white;
    text-align: center;
    padding: 10px;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.logo {
    max-width: 100%;  /* Faz a logo responsiva */
    height: auto;     /* Mantém a proporção da imagem */
  }

  .navbar {
    justify-content: center;
    box-shadow: 0 8px 15px rgb(123, 122, 122);
}

/* Ajustar o alinhamento dos itens e centralizar o conteúdo */
.navbar-collapse {
    display: flex;
    justify-content: center;
}

/* Centralizar o conteúdo da lista de navegação */
.navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Ajuste para os botões de ação ao lado direito */
.navbar .btn {
    margin-left: 5px;
}
.navbar-brand{
    margin-left: 30px;
}